# docker-compose.yml
version: '2'
services:
    prometheus:
        build: ./prometheus
        volumes:
            - prometheus_data:/prometheus
        command:
            - '-config.file=/etc/prometheus/prometheus.yml'
    node-exporter:
        image: prom/node-exporter
    grafana:
        image: grafana/grafana
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=pass
        volumes:
            - grafana_data:/var/lib/grafana
        depends_on:
            - prometheus
volumes:
    prometheus_data: {}
    grafana_data: {}
    dhparam_cache: {}
